.tracking-body {
  display: grid;
  gap: 1rem;

  @screen xl {
    grid-template-columns: 1fr 3fr;
  }

  .qr-code {
    display: flex;
    flex-direction: column;
    place-items: center center;

    h1 {
      @apply tw-text-xl;
    }
  }
}
