.container {
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    align-content: center;

    .card-item:nth-child(1) {
      justify-self: end;
    }
  }
}
