@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "form.scss";
@import "button.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-container {
  height: 100%;
  background-color: #eee;
  padding: 1rem;
  overflow-y: hidden;
}
