/* PRIMARY COLOR */
$primary-white: #ffffff;
$primary-orange: #fba300;
$primary-blue: #212b36;
$primary-gray: #5e738a;
$primary-red: #ee4d2d;

/* SECONDARY COLOR*/
$secondary-orange: #ff7733;

/* LIGHT COLOR*/
$primary-light-blue: #5e738a;
$primary-light-gray: #c4c4c4;
$primary-gray-blue: #eef0f4;
$secondary-light-blue: #699bf7;
$secondary-light-gray: #9197b3;
$tertiary-light-blue: #4062ff;

/* DARK COLOR*/
$primary-dark-blue: #002f86;
$primary-dark-gray: #757575;
